@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10%;
   
    padding: 14px 10px;
    background-color: #fff;
    position: fixed;
    z-index: 50;
    left: 10%;
   
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px ;
}    
nav ul{
  
    display: flex;
   align-items: center;
   border-right: 1px solid grey;
   column-gap: 40px;
   padding: 5px 20px 5px 0;
}
nav ul li{
    font-weight: bolder;
}    
.right-contact{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
nav .right-contact .assistance  p{
    font-size: 16px;
    line-height: 18px;
}

nav .right-contact .phonebook{
    background: #61C3A1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}  
nav .right-contact .phonebook:hover{
    padding: 10px;
}  
nav ul li{
    list-style: none;
}
/* pseudo classes*/
nav ul li:hover{
    text-decoration: underline;
    background-color:#E2E6E9;
    padding: 10px 20px;
    border-radius: 10px;
}    
/* global styling */
.parent-flex{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.wrapper{
    height:80vh;
    width: 80%;
    display: flex;
    align-items: center; 
   
    
}
.left-text{
    width: 50%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.right-image{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
/* global styling ends */

 .btn {
    background-color:  #FF6433;
    color: #fff;
     border-radius: 15px;
    margin:20px 0 ;
    padding: 20px 28px;
    font-size: large;
    border: none;
    transition: all ease-in-out 0.4s;
}
  /* pseudo classes*/
.btn:hover{
    text-decoration: underline;
    background-color: #6d2711;
    padding: 18px 28px;
    transform: scale(1.1);
    cursor:pointer;
}
main .wrapper .left-text .content h1{
    width: 80%;
     padding-right: 5px;
     font-size: 3.5em;
    font-weight: bolder;
    padding: 5px;
    
   
}
main .wrapper .left-text .content .open{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
}
main .wrapper .left-text .content .open .date p{
  opacity: 50% ;
   
}

/* styling the main right image  */
main .wrapper .right-image{
    width: 50%;
    height: 100%;  
   background-image: url("img/Image.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
main .wrapper .right-image .service{
    position: absolute;
    left:-20%;
    top: 0;
}

main .wrapper .right-image .rating{
    position: absolute;
    right: -20%;
    bottom: 0;
}

.car-service{
    background-color: #E2E6E9;
}
.left-text h1{
    margin: 15px 0 ;
    font-size: 43px;
    font-weight: bold;
}
.ser-vice{
   padding-right: 250px;
   flex-direction: column;
}
 .what-ever{
    display: flex;
    flex-direction: column;
}
.feature{
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
   
   
}


.arrow{
     display: flex;
     gap: 20px ;
     margin-left: 10px;
     position: relative;
     margin-top: 15px;
   
}
.arrow a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.arrow a:hover{
    color:#FF6433;
}
p.rot {
    opacity: 50%;
    font-size: 0.9em;
      padding: 7px 0;
    padding-right: 90px;
}
p.rote{
    font-size:  20px;  
    padding: 8px 0;
    font-weight: 2.5em;
    
}
.right-image h2{
    margin-bottom: 35px;
    font-size: 40px;
    padding-right: 200px;
   
    
}
.wrapper .right-image{
   
    width: 50%;
    height: 100%;
    
}

.wrapper .right-image input{
    width:70%;
    height: 48px;
   padding:10px 20px;
   border: none;
   margin: 1px;   

}
.blog-right{
    padding-right:250px;
    font-size: large;
    display: flex;
}
.blog-right .what-ever .feature .img-one{
    background:#661CE7 radial-gradient(circle at bottom, transparent 90%, #43868f1c 90%);
    width: 120px; /* Adjust the width and height for the circular background */
    height: 68px;
    border-radius: 50%; /* Create a circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    margin-bottom: 20px   
} 
.blog-right .what-ever .feature .icon{
    margin: 10px 0;
}
.blog-right .what-ever .feature .rote{
    font-size: 1.5em;
    font-weight: bolder;
} 
.blog-right .what-ever .feature .rot{
    font-size:17px;
    font-weight: bolder;
    line-height: 30px;
    padding-right: 35px;
}
  
.blog-right .what-ever .feature .round-digit::after {
    content: "";
    position: absolute;
    border: 1px dashed red;
   top: 70px;
    left: 50%;
    height: 100%; 
    margin: 10px 0;
}

.blog-left{
    padding-right: 120px; 
    font-size: large;
    font-weight: bolder;
}
.blog-left p{
     font-size:18px;
    font-weight: bolder;
    padding-right: 45px
    
}

/* styling button */
.wrapper .right-image .submit{
    color: white;
   background-color:#FF6433; 
   border: none;
   margin-top: 25px;
   width: 30%;
   padding: 20px 28px ;
   border-radius: 10px;
   
}

.wrapper .left-text .submit{
    color: white;
   background-color:#FF6433; 
   border: none;
   margin-top: 25px;
   width: 30%;
   padding: 20px 28px ;
   border-radius: 10px;

}
.offer-us{
    background-color:#E2E6E9;
}
.wrapper .offer-full{
     width: 100%;
     text-align: center;
}
.wrapper .offer-full h1{
    font-weight: bold;
    font-size: 50px;
    padding: 5px 250px;
}

.wrapper .offer-full .offer-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
   

}
.wrapper .offer-full .offer-cards .card{
    background-color: #fff;
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.wrapper .offer-full .offer-cards .card:hover{
    background-color: #FF6433;
    transition: all ease-in-out 0.4s;
}

.wrapper .offer-full .offer-cards .card p{
    font-weight: bolder;
}
.wrapper .offer-full .arrow-head{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 120px;
    padding: 20px 0;
    gap: 10px;
}
.arrow-head a{
    text-decoration: none;
    color: black;
}
.arrow-head a:hover{
    color:#FF6433;
}
.get-in-touch{
    background-color: #fff;
    height: 70vh;
    width: 100%;
    
}
.get-in-touch .first-row{
    width: 100%;
    height: 75%;
    display: flex;
}
.get-in-touch .first-row .left-car{
    width: 50%;
    height: 100%;
    background-image: url(./img/Image\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}   
.get-in-touch .first-row .left-car .left-car-card{
    height: 100%;
    width: 70%;
    background-color: #FF6433;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
}
.get-in-touch .first-row .left-car .left-car-card h1{
    color: white;

   
}    
.get-in-touch .first-row .left-car .left-car-card button{
    background-color: black;
    color: #fff;
    padding: 12px 28px;
    border-radius: 10px;
    margin-top: 20px;
}    
.get-in-touch .first-row .right-car{
    width: 50%;
    height: 100%;
     width: 50%;
    height: 100%;
    background-color:red;
    background-image: url(./img/ovGrEUgrkyE.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.get-in-touch .second-row{
    height: 25%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-in-touch .second-row .container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.get-in-touch .second-row .container h1{
    color: #661CE7;
    font-weight: 800;

}
.get-in-touch .second-row .container p{
    opacity: 60%;
}
